@charset "utf-8";
.mui-content > .mui-table-view:first-child {
  margin-top: 0px;
}
#cartDiv {
  height: 80px;
  padding-top: 20px!important;
  font-size: 16px;
}
#cartDiv > .boxRight > p {
  padding: 5px;
}
#cartDiv > .boxRight > p > span {
  font-size: 15px;
  padding-right: 10px;
  color: #ccc;
}
#cartDiv > .boxRight > p > span:first-of-type {
  color: #E80C02;
}
#cartDiv > .boxRight > p > span:nth-of-type(2) {
  text-decoration: line-through;
}
